<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <div class = "table-container">
        <h2 class = "todo-title">To Do List</h2>
        <div>
            <a class = "btn" href="">Add Activity</a>
        </div>
        <br />

        <table id="todo-table">
                <tr>
                    <th>Activity</th>
                    <th>Description</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td> Test To Do Title</td>
                    <td> Test To Do Description</td>
                    <td> Creation Time</td>
                    <td> update Time</td>
                    <td>
                        <a class = "btn" href=""> Edit </a>
                        <a class = "btn" href=""> Delete </a>
                    </td>
                </tr>
        </table>
    </div>
</body> 
</html>