<%- include("Partials/Header") %>
    <div class = "table-container">
        <h2 class = "todo-title"> Add Activity </h2>

        <div>
            <a class = "btn" href = "/"> Back </a>
            
            <form action = "/add-todo" method = "post">
                <div class = "new-ToDo">
                    <div class = "form-group">
                        <label for = "title" class = "text-light"> Activity </label>
                        <input type = "text" id = "title" name = "title" placeholder = "Add Activity">
                    </div>

                    <div class = "form-group">
                        <label for = "description" class = "text-light"> Description </label>
                        <input type = "text" id = "description" name = "description" placeholder = "Add Description">
                    </div>

                    <div class = "form-group">
                        <button type = "submit" class = "btn"> Save </button>
                    </div>
                </div>
            </form>
        </div>
<%- include("Partials/Footer") %>