<%- include("Partials/Header") %>
    <div class = "table-container">
        <h2 class = "todo-title"> Update Activity </h2>

        <div>
            <a class = "btn" href = "/"> Back </a>
            
            <form action = "" method = "">
                <div class = "Updated-ToDo">
                    <div class = "form-group">
                        <label for = "title" class = "text-light"> Activity </label>
                        <input type = "text" id = "title" name = "title" placeholder = "Update Activity">
                    </div>

                    <div class = "form-group">
                        <label for = "title" class = "text-light"> Description </label>
                        <input type = "text" id = "title" name = "title" placeholder = "Update Description">
                    </div>

                    <div class = "form-group">
                        <button type = "submit" class = "btn"> Save </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include("Partials/Footer") %>